{# <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> #}
<script src="{{ STATIC_URL }}mediafiles/js/jquery.ui.widget.js"></script>
<script src="{{ STATIC_URL }}mediafiles/js/tmpl.min.js"></script>
<script src="{{ STATIC_URL }}mediafiles/js/load-image.js"></script>
<script src="{{ STATIC_URL }}mediafiles/js/canvas-to-blob.min.js"></script>
<script src="{{ STATIC_URL }}mediafiles/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}mediafiles/js/bootstrap-image-gallery.js"></script>
<script src="{{ STATIC_URL }}mediafiles/js/jquery.iframe-transport.js"></script>
<script src="{{ STATIC_URL }}mediafiles/js/jquery.fileupload.js"></script>
<script src="{{ STATIC_URL }}mediafiles/js/jquery.fileupload-fp.js"></script>
<script src="{{ STATIC_URL }}mediafiles/js/jquery.fileupload-ui.js"></script>
<script src="{{ STATIC_URL }}mediafiles/js/locale.js"></script>
<script src="{{ STATIC_URL }}mediafiles/js/main.js"></script>
<script src="{{ STATIC_URL }}mediafiles/js/csrf.js"></script>
