{% load i18n %}
{% load mediafiles %}
    <div>
        {% if mediafiles %}
        <h2>{% trans "Upload Media" %}</h2>
        <table class="table table-striped" >
          <tbody id="uploaded-tbody" class="files" data-toggle="modal-gallery" data-target="#modal-gallery" >
            {% for mediafile in mediafiles.all %}  
            <tr>
                <td class="preview">
                    <a href="{% mediafile_image_url mediafile id=container.id mid=mediafile.id %}" 
                        {% if mediafile.is_image %}data-gallery="gallery" {% endif %}>
                         <img src="{% mediafile_thumbnail_url mediafile id=container.id mid=mediafile.id  %}" />
                    </a>
                </td>
                <td class="name" >
                    <a href="{% mediafile_image_url mediafile id=container.id mid=mediafile.id %}" >{{ mediafile }} </a>
                </td>
                <td class="delete">
                    <a class="btn btn-danger" 
                    href="{% mediafile_delete_url mediafile id=container.id mid=mediafile.id %}" target="_mediafile" >
                    <i class="icon-trash icon-white"></i> <span>{% trans "Delete" %}</span> </a>
                </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
    </div>
