{% extends GALLERY_BASE %}
{% load galleries %}  
{% load mediafiles %}  

{% block css %}
{% include "mediafiles/gallery_css.html" %}
{% endblock %}

{% block content %}
<div class="container">

    <h1> {{ object }}</h1>

    <form id="fileupload" method="post" 
            action="{% url 'gallery_admin_media_create' id=object.id %}" 
            enctype="multipart/form-data">{% csrf_token %}

        <div class="row fileupload-buttonbar">
            <div class="span7">
                <span class="btn btn-primary fileinput-button">
                    <i class="icon-plus icon-white"></i>
                    <span>Add files...</span>
                    <input type="file" name="data" multiple>            {#: MediaFile.data :#}
                </span>
                <button type="submit" class="btn btn-success start">
                    <i class="icon-upload icon-white"></i>
                    <span>Start upload</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>Cancel upload</span>
                </button>
                <button type="button" class="btn btn-danger delete">
                    <i class="icon-trash icon-white"></i>
                    <span>Delete files</span>
                </button>
                <input type="checkbox" class="toggle">
            </div>
            <div class="span5 fileupload-progress fade">
                <div class="progress progress-success progres-striped active">
                    <div class="bar" style="width:0%"></div>
                </div>
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <div class="fileupload-loading"></div>
        <table class="table table-striped"><tbody id="uploading-tbody" class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
    </form>

    <div class="fileupload-content">
        <table class="files"></table>
        <div class="fileupload-progressbar"></div>
    </div>

    <div>
        {% if mediafiles %}
        <h2>写真</h2>
        <table class="table table-striped" >
          <tbody id="uploaded-tbody" class="files" data-toggle="modal-gallery" data-target="#modal-gallery">
            {% for mediafile in mediafiles.all %}  {# MediaFile queryset #}
            <tr>
                <td class="preview">
                    {% preview mediafile %} {#: mediafile library :#}
                </td>
                <td class="name" >
                    <a href="{{ mediafile.get_absolute_url }}" 
                        title="{{ mediafile }}" data-gallery="gallery" rel="gallery" download="{{mediafile}}"  >{{mediafile}}</a>
                </td>
                <td class="delete">
                    <a class="btn btn-danger" href="#{# {% url 'upload-delete' picture.id %} #}"> <i class="icon-trash icon-white"></i> <span>Delete</span> </a>
                </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
    </div>

</div>

{% include "mediafiles/modal.html" %}    {#: gallery popup :#}

{% upload_js %}     {#: galleries templates :#}

{# ------------------------------------------------------------------------------ #}

{% include "mediafiles/gallery_js.html" %}

{% endblock %}


