{% extends GALLERY_BASE %}
{% load i18n %}
{% load galleries %}  
{% load mediafiles %}  

{% block css %}
{% include "mediafiles/gallery_css.html" %}
{% endblock %}

{% block content %}
<div class="container">

    <h1> {{ object }}</h1>

{% include "mediafiles/uploader.html" %}

    <div>
        {% if mediafiles %}
        <h2>写真</h2>
        <table class="table table-striped" >
          <tbody id="uploaded-tbody" class="files" data-toggle="modal-gallery" data-target="#modal-gallery" >
            {% for mediafile in mediafiles.all %}  {# MediaFile queryset #}
            <tr>
                <td class="preview">
                    <a href="{{ mediafile.get_absolute_url }}" data-gallery="gallery" >
                         <img src="{{ mediafile.get_absolute_url }}" />
                    </a>
                </td>
                <td class="name" >
                    <a href="{{ mediafile.get_absolute_url }}" data-gallery="gallery" >{{ mediafile }} </a>
                </td>
                <td class="delete">
                    <a class="btn btn-danger" 
                    href="#{# {% url 'upload-delete' picture.id %} #}"> <i class="icon-trash icon-white"></i> <span>Delete</span> </a>
                </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
    </div>

</div>

{% include "mediafiles/modal.html" %}    {#: gallery popup :#}

{% upload_js %}     {#: galleries templates :#}

{# ------------------------------------------------------------------------------ #}

{% include "mediafiles/gallery_js.html" %}

{% endblock %}


