{% extends GALLERY_BASE %}
{% load i18n %}
{% load galleries %}  
{% load mediafiles %}  

{% block css %}
{% include "mediafiles/uploader/css.html" %}
{% endblock %}

{% block content %}
<div class="container">

    <h1> {{ object }}</h1>

{% include "mediafiles/uploader/uploader.html" %}

    <div>
        {% if mediafiles %}
        <h2>写真</h2>
        <table class="table table-striped" >
          <tbody id="uploaded-tbody" class="files" data-toggle="modal-gallery" data-target="#modal-gallery" >
            {% for mediafile in mediafiles.all %}  {# MediaFile queryset #}
            <tr>
                <td class="preview">
                    <a href="{{ mediafile.get_absolute_url }}" {% if mediafile.is_image %}data-gallery="gallery" {% endif %}>
                         <img src="{{ mediafile.get_thumbnail_url }}" />
                    </a>
                </td>
                <td class="name" >
                    <a href="{{ mediafile.get_absolute_url }}" {% if mediafile.is_image %}data-gallery="gallery" {% endif %}>{{ mediafile }} </a>
                </td>
                <td class="delete">
                    <a class="btn btn-danger" 
                    href="{% url 'gallery_admin_media_delete' id=object.id mid=mediafile.id %}"> <i class="icon-trash icon-white"></i> <span>{% trans "Delete" %}</span> </a>
                </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
    </div>

</div>

{% include "mediafiles/uploader/modal.html" %}    {#: gallery popup :#}

{% literal_include 'mediafiles/uploader/upload_script.html' %}
{% literal_include 'mediafiles/uploader/download_script.html' %}

{# ------------------------------------------------------------------------------ #}

{% include "mediafiles/uploader/js.html" %}

{% endblock %}


